---
layout: default
analytics_type: download
---


<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">파일이 다운로드 됩니다.
            <small>{{ "" }}</small>
        </h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12">

        <h3>감사합니다.</h3>

        <p>파일이 다운로드 되지 않았다면 <a class="" id="download"><kbd>여기</kbd></a>를 눌러 수동으로 다운로드 하실 수 있습니다. </p>

        <br>

        <button class="btn btn-success" id="go-back">
            이전 페이지로
            <span class="glyphicon glyphicon-chevron-right"></span>
        </button>

        <a class="btn btn-success" href="{{site.baseurl}}/">
            메인 페이지로
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>

        <a class="btn btn-success" href="/">
            프로젝트 페이지로
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>

    </div>
</div>


<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/6.2.3/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/6.2.3/firebase-firestore.js"></script>
<script src="{{site.baseurl}}/assets/js/firebase.init.js"></script>

<script>

    var db = firebase.firestore();
    var docRef = db.collection("books").doc( "{{ page.bookid }}" )

    // https://firebase.google.com/docs/firestore/query-data/get-data?authuser=0#get_a_document

    docRef.get().then(function( doc ) {
        if (doc.exists) {
            var lastdata = doc.data();
            console.log("Document data:", lastdata);
            docRef.update( {'c': lastdata.c + 1 })
        } else {
            // doc.data() will be undefined in this case
            console.log("No such document!");
            console.log( doc )
            docRef.set( { 'c': 1 } )
        }
    }).catch(function(error) {
        console.log("Error getting document:", error);
    });




(function(){

    function getQueryStringValue (key) {
      return decodeURIComponent( window.location.search.replace(new RegExp("^(?:.*[&\\?]" + encodeURIComponent(key).replace(/[\.\+\*]/g, "\\$&") + "(?:\\=([^&]*))?)?.*$", "i"), "$1" ) );
    }

    var booktype = getQueryStringValue("booktype")
    var filetype = getQueryStringValue("filetype")

    var bookfile = "{{ site.data.theme.filename.book }}." + filetype
    var redirect_path = "{{ site.baseurl }}/books/" + booktype + "/{{ page.bookid }}/" + bookfile

    console.log( redirect_path )

    // var newlink = document.createElement('a');
    var downloadlink = document.getElementById("download")
    downloadlink.setAttribute('href', redirect_path );
    downloadlink.setAttribute('download', "{{ page.bookid }}." + filetype );
    downloadlink.click()

    function goBack(){
        window.history.back();
    }


    document.getElementById("go-back").addEventListener("click", goBack);

    // Simulate a mouse click:
    // window.location.href = "http://www.w3schools.com";
    // Simulate an HTTP redirect:
    // window.location.replace( redirect_path );


})();

</script>
