{% assign bookpath = site.baseurl | append: "/books/" | append: page.type | append: "/" | append: page.bookid %}
{% assign downloadpath = site.baseurl | append: "/download/" | append: page.bookid %}


<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">{{ page.title }}
            <small>{{ page.category }}</small>
        </h2>
    </div>
</div>


<!-- Project One -->
<div class="row">
    <div class="col-md-4">

      <img class="img-responsive book"
           src="{{ bookpath }}/{{ site.data.theme.filename.cover }}"
           alt="{{ page.title }} {{ page.publisher }} {{ page.category }}">

    </div>
    <div class="col-md-8">

      {% include books/{{ page.type }}.html %}

      <br>
      <h3>서지정보</h3>
      {% if page.publishDate %}
      <p>출간일 : {{ page.publishDate }}</p>
      {% endif %}
      {% if page.publishDate %}
      <p>출판사 : {{ page.publisher }}</p>
      {% endif %}

    </div>
</div>
<!-- /.row -->

<hr>

{% assign abstract_file = page.type | append: "/" | append: page.bookid | append: "/" | append: site.data.theme.filename.abstract %}
{%- capture info -%}{% include_relative {{ abstract_file }} %}{%- endcapture -%}

<div class="row">
  <div class="col-md-12">
    <div markdown="1">{{ info | markdownify }}</div>
</div>
</div>

